.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 0%
    left: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    left: 0%
  &-3
    animation: float1 3.2s ease-in-out infinite alternate
    position: absolute
    top: 70%
    left: 5%
  &-4
    animation: float1 3.0s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 5%
  &-5
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 5%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal 
  .tarjeta
    background-position: left 50% !important
  h1
    color: $color-fonts
  p 
    color: $color-fonts

.banner-principal .tarjeta
  background-image: url('../assets/curso/portada/fondo-banner-principal-mobile.png') !important

@media (min-width: 426px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
    padding-right: 130px

@media (min-width: 769px)
  .banner-principal .tarjeta
    padding-right: 0
    overflow: hidden

@media (min-width: 1025px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important


.banner-principal__row .banner-principal__img
  width: 400px !important
  padding: 0 !important

.banner-interno__fondo 
  background-image: url('../assets/curso/banner-interno.png') !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.fullwidth-bg
  position: relative
  z-index: 0
  &--1::after
    top: 50px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema1/bg-1.png')

  &--2::after
    top: -230px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema1/bg-2.png')

  &--3::after
    top: 50px
    left: -60px
    position: absolute
    height: 100%
    width: 1440px
    background: linear-gradient(180deg,rgba(255, 206, 121, 0.01) 0%, rgba(115, 150, 74, 0.05) 30%, rgba(115, 150, 74, 0.05) 70%, rgba(255, 206, 121, 0.01) 100%)
    content: ''

  &--4::after
    top: 50px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema2/bg-1.png')

  &--5::after
    top: -20px
    left: -60px
    position: absolute
    content: url('../assets/curso/temas/tema2/bg-2.png')

  &--6::after
    top: 0px
    left: -60px
    position: absolute
    height: 300px
    width: 1440px
    background: #FFFFFF
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 242, 219, 0.3) 100%)
    content: ''

  &--7::after
    top: 70px
    left: -60px
    position: absolute
    height: 405px
    width: 1440px
    background: #E4EBDC
    background: linear-gradient(180deg,rgba(228, 235, 220, 0.53) 0%, rgba(255, 255, 255, 0.62) 100%)
    content: ''

.z-2
  position: relative
  z-index: 2

.bg-color-secundario-s10
  background-color: $color-secundario-s10 !important

.checklist
  padding-left: 20px
  width: fit-content

  li
    position: relative
    padding: 10px 20px
    padding-left: 0
    border-bottom: 1px dotted #AFAFAF

    &:last-child
      border-bottom: none
    &::before
      content: url('../assets/curso/temas/check-icon.svg')
      position: absolute
      left: -20px


.tabs-c
  &__header
    margin-bottom: 0
  &__content-item
    background-color: #F7F7F7
    padding: 40px

.acordion-conservas
  background-color: #F8F3DC
  color: #12263F
  &--borde
    background-color: lighten($color-acento-contenido, 50%)
    color: #12263F
    border: solid 4px $color-acento-contenido

  .acordion__accion__btn--a
    background-color: #F9A545
    color: #FFFFFF

  &.acordion__activo
    background-color: #E6F1E8

    .acordion__accion__btn--a
      background-color: #748578

.conservas-table
  tr:nth-child(even)
    background-color: #E3EADA

  tr:nth-child(odd)
    background-color: #C7D5B6

.crd_hover_txt 
  position: relative
  padding: 0
  overflow: hidden
  border-radius: 1px


.crd_hover_txt:hover .crd_hover_txt--body 
  transition: all .3s ease-in-out
  transform: translateY(0)


.crd_hover_txt 
  overflow: hidden
  border-radius: 12px
  .crd_hover_txt--body 
    position: absolute
    padding: 15px 13px 30px
    bottom: 0
    transition: all .3s ease-in-out
    transform: translateY(calc(100% - 50px))
    &.color-acento-contenido
      background-color: $color-acento-contenido
      color: white
    &.color-primario
      background-color: $color-primario
      color: white
    &.color-secundario
      background-color: $color-secundario
      color: $color-fonts

@media (min-width: 1200px) and (max-width:1400px) 
  .crd_hover_txt .crd_hover_txt--body p 
      font-size: 14px
      line-height: 18px

.factores-slider
  background-color: #FFF0D6
  .slyder-f
    align-items: center

    .slyder-f__main
      width: 70%

      @media (min-width: 769px)
        width: 80%

  .slyder-f__btn
    height: 35px
    width: 35px
    max-width: 35px
    background-color: $color-acento-botones
    border-radius: 50%
    padding: 0 !important
    margin: 0 auto
    .fa-chevron-left
      font-size: 20px
    .fa-chevron-right
      font-size: 20px

.card-decoration
  background-color: #FAFAFA

.font-small
  font-size: 14px

.numbered-card
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 20px
  height: 100%
    
  &__number
    position: absolute
    top: 17px
    left: 15px
    font-size: 25px
    font-weight: bold

    &--yellow
      color: #D8C157

    &--green
      color: #748578

  &__img
    width: 170px
    height: 170px

  &.color-amarillo-claro
    background-color: #F8F3DC

  &.color-verde-claro
    background-color: #E3EADB

.conservas-slyder
  background-image: url('../assets/curso/temas/tema4/bg-slider.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: $color-acento-botones
    border: none
    transition-delay: 0.1s
    background-image: url('../assets/bullets/arrow-white.svg')
    opacity: 0.9

    &.hide
      opacity: 0
      pointer-events: none

  .slyder-a__bullets__item
    background-color: #AFC2DD
    border: 1px solid #AFC2DD
    opacity: 0.3
  .slyder-a__bullets__item--active
    opacity: 1

.accesibilidad
  z-index: 100
